:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    
}

.header--title-container {
    width: 90px;
    min-width: 288px;
    max-width: 900px;
    margin-top: 40px;
    text-align: center;
    
}

.header--title-container h1 {
    color: var(--just-white);
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;

}

.header--title-container p {
    margin-top: 24px;
    margin-bottom: 60px;
    color: var(--soft-orange);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
}

.header--title-container .header--button {
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 249px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
}

.main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: var(--off-white);
    
}

.background-img {
    width: 193px;
    height: 193px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url("../assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.main-exchange-container--title h2 {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin: 0 auto;
    margin-bottom: 30px;
    color: var(--black);
}

.main-exchange-container--title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
    text-align: center;
}

.div1, .div2 {
    width: 100%;
    height: 50vh;
}

.main-currency-table {
     width: 70%; 
     min-width: 235px; 
     max-width: 500px; 
     height: 360px;
     font-family: 'Inter', sans-serif;
}

.main-currency-table  .currency-table--title {
    font-size: 1.8rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    line-height: 2.344rem;
    color: var(--bitcoin-orange);
    margin-bottom: 15px;
    margin-left: 10px;
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    text-align: center;
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.69rem;
    color: #757575;

}

.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 20px;
    background-color: var(--soft-orange);
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
}

.currency-table--date p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    text-align: center;
}

.main-product-detail {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
}

.icon-section {
    position: absolute;
    top: -15px;
    width: 52px;
    height: 32px;
    background-image: url("../assets/icons/batata.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
}

.product-detail--title h2 {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white);
    margin-top: 30px;
}

.product-detail--title p {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--grey);
    margin-top: 20px;
    margin-bottom: 30px;
}

.product-cards--container {
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-detail-card {
    width: 90%;
    max-width: 400px; 
    height: 152px;
    background-color: var(--warm-black);
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    
    
}

.product-detail-card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/clock.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 10px;
}

.product-detail-card .ojo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/eye.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 10px;
}

.product-detail-card .pesos {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/dollar-sign.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 10px;
}

.product-detail-card .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/check-circle.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 10px;
}

.product-detail-card .product--card-title {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--just-white);
    margin-top: 10px;
    margin-left: 10px;
}

.product-detail-card .product--card-paragraf{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
    margin-top: 10px;
    margin-left: 10px;
}


.comodin {
   width: 100%;
   min-width: 320px;
   height: 387px;
   background-image: url("../assets/img/bitcoinbaby2x.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.comodin h2 {
    padding-top: 60px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}

.planes-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E5E5E5;
}

.planes--title h2 {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: #201E1C;
    margin-top: 50px;
}

.planes--title p {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #757575;
    margin-top: 20px;
}

.planes-containers--sliders {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    
}

.planes-container--card {
    display: flex;
    justify-content: center;
    position: relative;
    scroll-snap-align: center ;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 30px 0;
    padding: 0 15px;
    border-radius: 8px;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.recomendado {
    position: absolute;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--just-white);
}

.pago-planes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3-pago {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}

.paragraf-precio {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6.3rem;
    color: black;
    padding: 5px 0;

}

.paragraf-precio span {
    display: inline-block;
    width: 8px;
    height: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #363636;
    position: absolute;
    left: 70px;
    
}

.parrafo-ahorro {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #757575;

}

.button-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 48px;
    background-color: #FaF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #201E1C;
}

.button-card span {
    background-image: url("../assets/icons/orange-right-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 25px;
    margin-left: 10px;

}

.footer {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 50%;
    
}

.redes a {
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--just-white);
    margin: 10px 0;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
.copyright span {
    width: 80px;
    height: 65px;
    background-image: url("../assets/img/logo-footer.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}









