.product-cards--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.product-detail-card {
    margin: 20px;
}


/* .planes-containers--sliders {
    justify-content: center;
    
}
 */
